<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITweetService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:44919/TweetService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITweetService" contract="WCFTweetService.ITweetService"
                name="BasicHttpBinding_ITweetService" />
        </client>
    </system.serviceModel>
</configuration>